{% extends "layout.html" %}

        {% block content %}

        <div>
            <form id="FileForm" method="post" action enctype="multipart/form-data">
                {{ form.csrf_token }}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="姓名">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="text" class="form-control" id="tel_cell" name="tel_cell" placeholder="电话">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="text" class="form-control" id="email" name="email" placeholder="邮箱">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="text" class="form-control" id="department" name="department" placeholder="部门">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="text" class="form-control" id="title" name="title" placeholder="职位">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="text" class="form-control" id="company" name="company" placeholder="公司名称">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="text" class="form-control" id="addr" name="addr" placeholder="公司地址">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="text" class="form-control" id="company_url" name="company_url" placeholder="公司网址">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="text" class="form-control" id="intent" name="intent" placeholder="意向产品">
                    </div>
                </div>


                <div class="form-group">
                    <center>
                        <button type="submit" class="btn btn-default">保存</button>
                    </center>
                </div>

            </form>

        </div>





        {% endblock %}
